
@keyframes softIconGlow {
    0%,
    100% {
        filter: drop-shadow(0 0 5px rgba(255, 200, 200, 0.2))
                drop-shadow(0 0 10px rgba(255, 200, 200, 0.1));
    }
    50% {
        filter: drop-shadow(0 0 10px rgba(255, 200, 200, 0.3))
                drop-shadow(0 0 15px rgba(255, 200, 200, 0.2));
    }
}

.nav {

    position: fixed;
    display: flex;
    align-items: flex-start;
    top: 3rem;
    gap: 1.5625rem;
    left: 50%;
    transform: translateX(-50%); /* center-align nav */
    z-index: 100;
}

.icon{
    width: 5rem;
    height: 5rem;
    filter: drop-shadow(0 0 5px rgba(255, 200, 200, 0.2))
    drop-shadow(0 0 10px rgba(255, 200, 200, 0.1));
animation: softIconGlow 5s infinite alternate;
animation-timing-function: ease-in-out;
}

.nav-about {
    transform: translateX(-1.56rem);
}
.nav-skills {
    transform: translateX(-6.25rem);
}
.nav-projects {
    transform: translateX(-10.94rem);
}
.nav-contact {
    transform: translateX(-15.62rem);
}

a {
    width: 3.125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

.page-title {
    font-size: 0.875rem;
    color: white;
    cursor: default;
}

.nav-link {
    opacity: 0.7;
}

.nav-link:hover {
    opacity: 1;
}

.nav-link.current {
    opacity: 1;
}

/* Tablet adjustments */
@media (max-width: 1100px) {
    .nav-about,
    .nav-skills,
    .nav-projects,
    .nav-contact {
        transform: translateX(0); /* remove specific translations */
    }

    .nav {
        top: calc(100vh - 8rem); /* move nav to bottom */
        transform: translateX(-50%);
        gap: 1rem; /* reduced gap for compact display */
    }

    .nav-link {
        width: 2rem;
    }

    .nav-link img {
        width: 2rem;
    }

    .page-title {
        display: none; /* hide titles on smaller screens */
    }
}

/* Mobile adjustments */
@media (max-width: 700px) {
    .nav {
        flex-direction:row;
        bottom: 2rem;
        top: auto;
        width: 100%;
        justify-content:baseline;
        margin-left: -20%;
    }

    .nav-about,
    .nav-skills,
    .nav-projects,
    .nav-contact {
        transform: translateX(0);
    }

    a {
        width: 2.5rem;
    }

    .nav-link img {
        width: 1.5rem; /* smaller icon size for mobile */
    }
}