.project-menu {
    width: 45rem;
    position: fixed;
    display: flex;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .project-items-container {
    flex-direction: column;
    display: flex;
    position: relative;
    width: 40%;
    margin-top: 12rem;
    align-items: flex-end;
  }
  
  .project-item {
    height: 3.75rem;
    width: 90%;
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
  }
  
  @keyframes neonTurnOn {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    10% {
        opacity: 0.5;
    }
    15% {
        opacity: 1;
    }
    20% {
        opacity: 0.8;
    }
    25% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes neonBlink {
    0%,
    80%,
    100% {
        opacity: 1;
    }
    81% {
        opacity: 0.8;
    }
    83% {
        opacity: 1;
    }
    85% {
        opacity: 0.8;
    }
    87% {
        opacity: 1;
    }
}

  .project-item.activeProject .title {
    font-size: 1.5rem;
    text-shadow:
    0 0 5px #f00,
    0 0 10px #f00,
    0 0 20px #f00,
    0 0 30px #00f,
    0 0 40px #00f,
    0 0 50px #00f,
    0 0 60px #00f;
animation:
    neonTurnOn 2s forwards,
    neonBlink 5s infinite 2s;
  }
  
  .activeProject {
    border-radius: var(--radius-left);
    cursor: default;
  }
  
  .project-item.activeProject:nth-child(1) {
    background: linear-gradient(270deg, #ffffff00, var(--purple) 70%);
  }
  
  .project-item.activeProject:nth-child(2) {
    background: linear-gradient(270deg, #ffffff00, var(--blue) 70%);
  }
  
  .project-item.activeProject:nth-child(3) {
    background: linear-gradient(270deg, #ffffff00, var(--cyan) 70%);
  }

  .project-sub-container {
    width: 60%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
  }
  
  .project-sub-container h3 {
    position: relative;
    margin: 0;
  }
  
  .project-sub-container img {
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem 3rem 0.5rem 0.5rem;
    opacity: 0.9;
  }
  
  .project-sub-container p {
    display: block;
    font-size: 1rem;
    font-family: 'Fast-Font', sans-serif;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
  }
  
  .link-container a {
    color: white;
    text-decoration: none;
    margin-top: 1rem;
    width: 50%;
    height: 2.75rem;
    text-align: center;
  }
  
  .link-container {
    display: flex;
    justify-content: space-around;
  }

  @media (max-width: 1100px) {
    .project-menu {
      width: 28rem;
      top: 20%;
      transform: translateX(-50%);
    }
  
    .project-item {
      height: 2rem;
      width: 100%;
    }
  
    .project-item.activeProject .title {
      font-size: 1rem;
    }
  
    .title {
      font-size: 0.8rem;
    }
  }
  
  @media (max-width: 700px) {
    .project-menu {
      width: 28rem;
      flex-direction: column;
      align-items: center;
    }
  
    .project-menu p {
      font-size: 0.7rem;
    }
  
    .project-sub-container {
      margin-top: 1rem;
      width: 12rem;
    }
  
    .project-sub-container img {
      width: 12rem;
    }
  
    .link-container a {
      margin-top: 0.5rem;
      width: 50%;
      height: 2rem;
    }
  
    .project-items-container {
      margin-top: 0;
    }
  }